Import libraries

In [ ]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib
import pandas as pd

In [ ]:
#connect to website

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36 Edg/124.0.0.0"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(),"html.parser")

#print(soup1)

#print(soup2)

title = soup2.find(id='productTitle').get_text()


price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
price = f'{price_symbol}{price_whole}{price_fraction}'





print(title)
print(price)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt

$16.99

In [ ]:
price.strip()

'$16.99'

In [ ]:
price.strip()[1:]

'16.99'

In [ ]:
price = price.strip()[1:]
title = title.strip()

print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [ ]:
import datetime

today = datetime.date.today()

print(today)

2024-05-06

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls '/content/drive/My Drive/'

 book.pdf  'Colab Notebooks'  'FPL +'  'Interview QA +'   photos   PP_DadMoM   Work

In [ ]:
import csv

header = ['Title','Price', 'Date']
data = [title,price, today]

with open('/content/drive/My Drive/Colab Notebooks/scrapper.csv', 'w', newline='', encoding='UTF8') as f:
  writer = csv.writer(f)
  writer.writerow(header)
  writer.writerow(data)

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/scrapper.csv')
print(df)

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
1   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
2   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
3   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
4   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
5   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
6   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
7   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
8   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
9   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
10  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06

In [ ]:
#append to csv
with open('/content/drive/My Drive/Colab Notebooks/scrapper.csv', 'a+', newline='', encoding='UTF8') as f:
  writer = csv.writer(f)
  writer.writerow(data)

In [ ]:
def check_price():
  URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

  headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36 Edg/124.0.0.0"}

   #Try-except block to handle network issues
  try:
        page = requests.get(URL, headers=headers)
  except requests.exceptions.ConnectionError as e:
        print(f"Error fetching the webpage: {e}")
        return

  # Use lxml parser instead of html.parser
  soup = BeautifulSoup(page.content, "lxml")

    # Use select_one() instead of find() to avoid NoneType error
  title_element = soup.select_one('#productTitle')

  if title_element is not None:
        title = title_element.get_text().strip()
  else:
        print("Title element not found")
        return

  price_symbol = soup2.find(class_='a-price-symbol').get_text(strip=True)
  price_whole = soup2.find(class_='a-price-whole').get_text(strip=True)
  price_fraction = soup2.find(class_='a-price-fraction').get_text(strip=True)
  price = f'{price_symbol}{price_whole}{price_fraction}'
  price = price.strip()[1:]
  title = title.strip()

  import datetime

  today = datetime.date.today()

  import csv

  header = ['Title','Price', 'Date']
  data = [title,price, today]

  with open('/content/drive/My Drive/Colab Notebooks/scrapper.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [ ]:
while(True):
  check_price()
  time.sleep(1)

Title element not found
Title element not found
Title element not found
Title element not found
Title element not found
Title element not found
Title element not found
Title element not found
Title element not found
Title element not found

KeyboardInterrupt:

In [ ]:
import pandas as pd

df = pd.read_csv(r'/content/drive/My Drive/Colab Notebooks/scrapper.csv')

print(df)

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
1   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
2   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
3   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
4   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
5   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
6   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
7   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
8   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
9   Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
10  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
11  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
12  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
13  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
14  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
15  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
16  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06
17  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-05-06